<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page_title }}">
  <meta name="author" content="PDX-HEO">

  <title>PDX-HEO | {% block title %}{% endblock %}</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'pdxheo/style.css' %}"/>

  <style type="text/css">
    .page-footer {
      position: fixed;
      text-align: center;
      bottom: 0px;
      width: 100%;
    }
  </style>
</head>
<body>
<div class="page-header">
  <h1 align="center"><a href="/">PDX-HEO</a></h1>

  <!-- TODO: Change these links to Django URLs -->
  <div align="center">
    <nav align="center">
      <a href="{% url 'finder' %}">Resource Finder</a>
      <a href="{% url 'communityboard' %}">Community Board</a>
      <a href="{% url 'testimonies' %}">Testimonies</a>
      <a href="{% url 'safetymap' %}">Safety Map</a>
      <a href="{% url 'about' %}">About</a>
      <a href="/admin/">Admin</a>
    </nav>
  </div>
</div>

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<div class="page-footer">
  <div>
    <p align="center">PDX-HEO</p>
  </div>
</div>
</body>
</html>