
.
.button-custom-add{
  color: red;
}

.menu-custom{
  background-color: #EFEFEF;
  color: white;
}



.link-custom-heading{
    color: #2B3A42;
    font-size: 20px;
    font-weight: 575;
    padding: 5px 100px 5px 20px;

}

.link-custom-heading:hover{
    color: #FF530D;
    font-size: 20px;
    padding: 5px 100px 5px 20px;
    text-decoration: none;

}

.link-custom{
    color: #344854;
    font-size: 14px;
    padding: 10px 40px 10px 40px;

}

.link-custom:hover{
    background-color: red;
    color: #EFEFEF;
    text-decoration: none;

}

body{
  color: #2B3A42;

}
