header {
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

div.container {
    width: 100%;
}

nav a {
    text-decoration: none;
}


#testimonies-list ul{
  list-style: none;
  padding: 100px 100px;
}
#testimonies-list li{
  display: inline;
}

.testimonies-button a{
  background: red;
  height: 100px;
  width: 200px;
}
