header {
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

div.container {
    width: 100%;
}

nav a {
    text-decoration: none;
}
