{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <h1 align="center"> PDX-HEO</h1>
      <p><b>(Portland Housing Emergency Outreach and Community Safety)</b> is a resource hub for Portland residents that
        are experiencing or are vulnerable to experiencing issues relating to homelessness. This is also a platform to
        educate Portland residents about the extent of the housing crisis impacting the Portland and Portland metro
        area, as well as inform them on ways that they can take action to make an impact in their communities and make
        Portland a safer and better place for house-less residents.</p>
      <ul style="list-style-type:disc">
        <li>Resource finder enables users to identify their location to see nearby homeless shelters, shelters for
          domestic violence victims, women and children. It also connects them with community resources that provide
          access to essential resources such as food, shelter, clothing, toiletries, etc.
        </li>
        <li>Community board acts as a forum where people can connect and share community based information relating to
          issues of poverty, homelessness, safety or other community concerns.
        </li>
      </ul>
    </div>
    <div class="pure-u-1-5"></div>
  </div>
{% endblock %}
