{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <p align = "middle">
    <br><font size="4"> Welcome to the Portland Housing Emergency Outreach and Community Safety web application
      </font>
      <br>
    <div style="display: flex; justify-content: center;">

    <p align="right"> <img class="fit" src="/static/aboutPic.jpg" alt=""  style="width:800px;height:378px;" >
    <br> <font size = "0.5">"Photo by Joe Bergantine, http://72ppi.us/".</font></p>
    </div>
{% endblock %}
