{% extends 'base.html' %}

{% block title %}Testimonies{% endblock %}
{% block content %}
  <p>
    <br>PDX Testimonies
    <br>
    <form action="/testimonies/form/" method="post">
      {% csrf_token %}
      {{ form.as_table }}
      <p><label for="id_title"> Title: </label>
      <input id="id_title" type="text" name="title" maxlength="150" required /></p>

      <p><label for='id_story'>Story: </label>
        <textarea name="Story" id="id_story" required></textarea></p>

      <p><label for'id_author'>Author: </label>
        <input id="id_author" type="text" name="author" maxlength="100"/></p>


  </form>
  </p>
{% endblock %}
