{% extends 'base.html' %}

{% block title %}testimonials{% endblock %}
{% block content %}
  <p>
    <br><h1><center>PDX testimonials</center></h1></br>
    <br>
    <div id="testimonies-list">
    {% if testimonials %}
      <ul>
        {% for testimony in testimonials %}
        <a href="{% url 'testimonials_detail' testimony.id %}">
              {% if testimony.image %}
                <img src="{{testimony.image.url}}" width="200" height="200">
              {% else %}
                <img src="/static/website/Default_img.png" alt="default">
              {% endif %}
              </a>
        {% endfor %}

    {% else %}
      <strong>There are no testimonials present.</strong>
    {% endif %}
    <a href="{% url 'testimony_create' %}"><img src="/static/website/add_testimony.png" alt="add-image" height="100" width="100"></a>
  </ul>
  </div>

    <br>




  </p>
{% endblock %}
